header {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 150px;
  height: auto;
}

header > div:hover {
  cursor: pointer;
}

/* header end*/

footer {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  background-color: #8ccef3;
  box-sizing: border-box;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 80px;
}

footer > #text {
  width: 314px;
  height: 20px;
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* footer end*/

main {
  width: 1160px;
  min-width: 1160px;
  min-height: calc(100vh - 120px);
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

main > nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

main > nav > #menu {
  display: flex;
  gap: 10px;
  padding: 0px 5px 0px 5px;
  box-sizing: border-box;
}

main > nav > #menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #5f5f5f;
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}

main > nav > #menu > li:nth-child(2),
main > nav > #menu > li:nth-child(4),
main > nav > #menu > li:nth-child(6),
main > nav > #menu > li:nth-child(8) {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #5f5f5f;
}

main > nav > #icon {
  display: flex;
  gap: 8px;
}

main > nav > #icon > li:nth-child(1),
main > nav > #icon > li:nth-child(2),
main > nav > #icon > li:nth-child(3) {
  width: 24px;
  height: 24px;
  background-position: center;
}

main > nav > #icon > li:nth-child(3) {
  background-image: url(../assets/icons/Search_light.png);
}

main > nav > #menu > li:nth-child(1),
main > nav > #menu > li:nth-child(3),
main > nav > #menu > li:nth-child(5),
main > nav > #menu > li:nth-child(7),
main > nav > #menu > li:nth-child(9),
main > nav > #icon > li:hover {
  cursor: pointer;
}

/* nav end */

main > #cartPage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

main > #cartPage_container > p {
  color: #8ccef3;
  font-family: "NotoSansKR";
  font-size: 28px;
  font-weight: 500;
}
main > #cartPage_container > #cartHeader {
  padding: 10px 113px 10px 93px;
  display: flex;
  gap: 250px;
  border-bottom: 1px solid #5f5f5f;
}

main > #cartPage_container > .product {
  width: 1116px;
  display: flex;
  align-items: center;
  padding: 10px 114px 10px 114px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

main > #cartPage_container > .product > li > #image {
  width: 100px;
  height: 150px;
  background-image: url(../assets/images/11efab10112b6ebb93168f6a8eff6633.jpg);
  background-position: center;
  background-size: cover;
  margin-left: -67px;
  cursor: pointer;
}

main > #cartPage_container > .product > #name {
  position: relative;
  right: 98px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

main > #cartPage_container > .product > #name > p:nth-child(1) {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}

main > #cartPage_container > .product > #name > p:nth-child(2) {
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #5f5f5f;
}

main > #cartPage_container > .product > li:nth-child(3),
main > #cartPage_container > .product > li:nth-child(4) {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #5f5f5f;
}

main > #cartPage_container > .product > li:nth-child(4) {
  position: relative;
  right: 100px;
}

main > #totalPrice {
  width: 1116px;
  height: 40px;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  padding: 0px 16px 0px 0px;
  box-sizing: border-box;
  background-color: rgba(182, 182, 182, 0.1);
  border-top: 1px solid #5f5f5f;
}

main > #totalPrice > li {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}

main > #totalPrice > li:nth-child(5) {
  color: black;
}

/* cart end */

main > #buttons {
  margin-top: 80px;
  margin-left: 856px;
  display: flex;
  gap: 24px;
}

main > #buttons > button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(95, 95, 95, 0.5);
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

main > #buttons > input[type="submit"] {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: rgba(140, 206, 243, 0.7);
  border: 0px;
  cursor: pointer;
}
