header {
  width: 100%;
  min-width: 1160px;
  height: 60px;
}

header > div {
  width: 150px;
  height: 50px;
  background-image: url(../assets/images/change.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 0 auto;
}

header > div:hover {
  cursor: pointer;
}

/* header end*/

footer {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  background-color: #8ccef3;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div {
  width: 314px;
  height: 20px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 0 auto;
}

/* footer end*/

main {
  min-width: 1160px;
  height: calc(100vh - 120px);
  padding: 24px 409px 40px 405px;
  box-sizing: border-box;
}

main > nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

main > nav > #menu {
  display: flex;
  gap: 10px;
  padding: 0px 5px 0px 5px;
  box-sizing: border-box;
}

main > nav > #menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #5f5f5f;
  font-family: NotoSans-KR;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

main > nav > #menu > li:nth-child(2),
main > nav > #menu > li:nth-child(4),
main > nav > #menu > li:nth-child(6),
main > nav > #menu > li:nth-child(8) {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #5f5f5f;
}

main > nav > #icon {
  display: flex;
  gap: 8px;
}

main > nav > #icon > li:nth-child(1),
main > nav > #icon > li:nth-child(2),
main > nav > #icon > li:nth-child(3) {
  width: 24px;
  height: 24px;
  background-position: center;
}

main > nav > #icon > li:nth-child(1) {
  background-image: url(../assets/icons/User_alt_light.png);
}
main > nav > #icon > li:nth-child(2) {
  background-image: url(../assets/icons/Bag_alt_light.png);
}
main > nav > #icon > li:nth-child(3) {
  background-image: url(../assets/icons/Search_light.png);
}

main > nav > #menu > li:nth-child(1),
main > nav > #menu > li:nth-child(3),
main > nav > #menu > li:nth-child(5),
main > nav > #menu > li:nth-child(7),
main > nav > #menu > li:nth-child(9),
main > nav > #icon > li:hover {
  cursor: pointer;
}

/* nav end */

main > #vanner {
  min-width: 1116px;
  height: 304px;
  background-image: url(../assets/images/vanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

main > #vanner:hover {
  cursor: pointer;
}

/* vanner end */

main > .title {
  display: flex;
  gap: 20px;
}

main > .title > li:nth-child(1) {
  width: 3px;
  height: 30px;
  background-color: #30a6e9;
}

main > .title > li:nth-child(2) {
  font-family: NotoSans-KR;
  font-weight: bold;
  font-size: 24px;
  color: #5f5f5f;
}
