header {
  width: 100%;
  min-width: 1160px;
  height: 60px;
}

header > div {
  width: 150px;
  height: 50px;
  background-image: url(../assets/images/change.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 0 auto;
}

header > div:hover {
  cursor: pointer;
}

/* header end*/

footer {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  background-color: #8ccef3;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

/* footer end*/

main {
  min-width: 1160px;
  height: calc(100vh - 120px);
}

main > ul {
  display: flex;
  gap: 20px;
}

main > ul > li:nth-child(2)::after,
main > ul > li:nth-child(3)::after,
main > ul > li:nth-child(4)::after,
main > ul > li:nth-child(5)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: black;
}
