header {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 150px;
  height: auto;
}

header > div:hover {
  cursor: pointer;
}

/* header end*/

footer {
  width: 100%;
  min-width: 1160px;
  height: 60px;
  background-color: #8ccef3;
  box-sizing: border-box;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 80px;
}

footer > #text {
  width: 314px;
  height: 20px;
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* footer end*/

main {
  width: 1160px;
  min-width: 1160px;
  min-height: calc(100vh - 120px);
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

main > nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

main > nav > #menu {
  display: flex;
  gap: 10px;
  padding: 0px 5px 0px 5px;
  box-sizing: border-box;
}

main > nav > #menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #5f5f5f;
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}

main > nav > #menu > li:nth-child(2),
main > nav > #menu > li:nth-child(4),
main > nav > #menu > li:nth-child(6),
main > nav > #menu > li:nth-child(8) {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #5f5f5f;
}

main > nav > #icon {
  display: flex;
  gap: 8px;
}

main > nav > #icon > li:nth-child(1),
main > nav > #icon > li:nth-child(2),
main > nav > #icon > li:nth-child(3) {
  width: 24px;
  height: 24px;
  background-position: center;
}

main > nav > #icon > li:nth-child(3) {
  background-image: url(../assets/icons/Search_light.png);
}

main > nav > #menu > li:nth-child(1),
main > nav > #menu > li:nth-child(3),
main > nav > #menu > li:nth-child(5),
main > nav > #menu > li:nth-child(7),
main > nav > #menu > li:nth-child(9),
main > nav > #icon > li:hover {
  cursor: pointer;
}

/* nav end */

main > #orderPage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 80px;
}

main > #orderPage_container > #title {
  color: #8ccef3;
  font-family: "NotoSansKR";
  font-size: 28px;
  font-weight: 500;
}

main > #orderPage_container > .subheading {
  font-family: "NotoSansKR";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #5f5f5f;
  text-align: left;
  align-self: flex-start;
}
main > #orderPage_container > #cartHeader {
  padding: 10px 249px 10px 249px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 250px;
  width: 1160px;
  border-bottom: 1px solid #5f5f5f;
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #5f5f5f;
}

main > #orderPage_container > .product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1160px;
  padding: 33px 225px 27px 24px;
  font-family: "NotoSansKR";
  font-weight: 500;
  line-height: 20px;
  color: #5f5f5f;
  position: relative;
}

main > #orderPage_container > .product:hover {
  cursor: pointer;
}

main > #orderPage_container > .product > li > #image {
  width: 100px;
  height: 150px;
  background-image: url(../assets/images/11eea5318da1b72ab238af406c963c66.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  left: 20px;
}

main > #orderPage_container > .product > #name {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  left: -80px;
}

main > #orderPage_container > .product > #name > p:nth-child(1) {
  font-size: 18px;
  color: black;
}

main > #orderPage_container > .product > #name > p:nth-child(2) {
  font-size: 14px;
  color: #5f5f5f;
}

main > #orderPage_container > .product > li:nth-child(3) {
  position: relative;
  left: -120px;
}

main > #orderPage_container > .product > li:nth-child(4) {
  position: relative;
  left: -70px;
}

main > #op_totalPrice {
  width: 1160px;
  height: 40px;
  display: flex;
  background-color: rgba(182, 182, 182, 0.1);
  align-items: center;
  justify-content: flex-end;
  padding: 10px 16px 10px 0px;
  box-sizing: border-box;
  gap: 10px;
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 500;
}

main > #op_totalPrice > li:nth-child(2),
main > #op_totalPrice > li:nth-child(3),
main > #op_totalPrice > li:nth-child(4),
main > #op_totalPrice > li:nth-child(5) {
  color: #5f5f5f;
}

main > #orderPage_container2 {
  display: flex;
  gap:24px;
  margin-top: 232px;
}

main > #orderPage_container2 > .orderPage_container2_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 549px;
  height: 159px;
}

main > #orderPage_container2 > .orderPage_container2_box > .title {
  font-family: "NotoSansKR";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #5f5f5f;
}

main > #orderPage_container2 > .orderPage_container2_box > .box {
  border: 1px solid #5f5f5f;
  padding: 16px 19px 16px 19px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  font-family: "NotoSansKR";
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

main > #orderPage_container2 > .orderPage_container2_box:nth-child(2) > .box > .inputs{
  flex-direction: row;
  gap:4px;
  font-family: "NotoSansKR";
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

main > #agree_container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main > #agree_container > #agree1, main> #agree_container> #agree2 {
  display: flex;
  gap:10px;
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

main > #agree_container > .title {
  font-family: "NotoSansKR";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #5f5f5f;
}

main > #agree_container > #agree1 > span {
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}